In [644]:
import pandas as pd
import numpy as np
import datetime
from sksurv.preprocessing import OneHotEncoder
from sksurv.linear_model import CoxPHSurvivalAnalysis
from sklearn.feature_selection import SelectKBest
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.model_selection import GridSearchCV

In [645]:
def fix_str_float(ds, col):
    ds[col] = ds[col].str.replace(r'[^0-9\.]','')
    ds[col] = np.where(ds[col]=='',np.nan,ds[col])
    ds[col] = ds[col].astype('float32')
    return ds[col].astype('float32')

In [646]:
# clicks
clicks_df = pd.read_csv('data/clicks.csv', low_memory=False,dtype={'advertiser_id':'int32','action_id':'float32','source_id':'int32','country_code':'category',\
                                                 'latitude':'float32','longitude':'float32','carrier_id':'float32','os_minor':'category',\
                                                  'os_major':'category','specs_brand':'category','timeToClick':'float32','ref_type':'category'\
                                                                  ,'ref_hash':'object'})

clicks_df['touchX'] = fix_str_float(clicks_df,'touchX')
clicks_df['touchY'] = fix_str_float(clicks_df,'touchY')
clicks_df['created'] = pd.to_datetime(clicks_df['created'])
#events
events_df = pd.read_csv('data/events.csv', low_memory=False, dtype={'event_id':'int32','ref_type':'category','application_id':'category',\
                                                                                            'attributed':'bool','device_countrycode':'category','device_city':'category',\
                                                                                            'trans_id':'category','carrier':'category','device_os':'category',\
                                                                                            'connection_type':'category'})
events_df['date'] = pd.to_datetime(events_df['date'])
events_df['wifi'].astype('bool', inplace=True)
events_df.drop(columns=['device_countrycode','session_user_agent','ip_address','device_language'], inplace=True)
# installs
installs_df = pd.read_csv('data/installs.csv', low_memory=False, dtype={'ref_type':'category','application_id':'category',\
                                                      'device_brand':'category','ref_hash':'object','wifi':'category'})
installs_df['kind'] = installs_df['kind'].str.lower()
installs_df['kind'] = installs_df['kind'].astype('category')
installs_df.drop(columns=['session_user_agent','ip_address','device_language','device_model'], inplace=True)
installs_df['created'] = pd.to_datetime(installs_df['created'])
installs_df.drop(['device_countrycode'], axis=1, inplace=True)
# auctions
auctions_df = pd.read_csv('data/auctions.csv', low_memory=False, dtype={'country':'category','platform':'category',\
                                                                        'ref_type_id':'category','source_id':'category','device_id':'object'})

auctions_df['date'] = pd.to_datetime(auctions_df['date'])
print('setup done')

setup done

In [647]:
installs_df.head(5)

,created,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_brand,user_agent,event_uuid,kind,wifi,trans_id
0,2019-04-24 06:23:29.495,1,1494519392962156891,4716708407362582887,NaN,False,True,NaN,NaN,79837499-2f2a-4605-a663-e322f759424f,app_open,NaN,NaN
1,2019-04-24 02:06:01.032,1,1494519392962156891,7143568733100935872,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-04-20 10:15:36.274,1,1494519392962156891,5230323462636548010,NaN,False,True,NaN,NaN,dda99e3c-9c4b-487d-891c-79f0a02cb4a8,app_open,NaN,NaN
3,2019-04-20 21:56:47.151,1,1494519392962156891,5097163995161606833,NaN,False,True,NaN,NaN,7010c3ce-0fcf-46c6-9be8-374cc0e20af4,app_open,NaN,NaN
4,2019-04-20 22:40:41.239,1,1494519392962156891,6328027616411983332,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN

In [648]:
events_df['connection_type'].describe()

count       1809296
unique            4
top       Cable/DSL
freq        1291512
Name: connection_type, dtype: object

In [649]:
events_df['connection_type'].value_counts()

Cable/DSL    1291512
Cellular      517204
Corporate        527
Dialup            53
Name: connection_type, dtype: int64

In [650]:
events_df['connection_type'].isnull().sum()

5935285

In [70]:
#auctions_df = auctions_df.sort_values(by=['device_id','date'])
#auctions_df['date_dif'] = auctions_df['date'].shift(periods=-1) - auctions_df['date']
#auctions_df['in_seconds'] = np.nan
#last_row = False
#last_index = False
#for index, row in auctions_df.iterrows():
#    if not(isinstance(last_row, bool)):
#        if row['device_id']!=last_row['device_id']:
#            auctions_df.at[last_index,'date_dif'] = np.nan
#    auctions_df.at[index,'in_seconds'] = row['date_dif'].total_seconds()
#    last_row = row
#    last_index = index
#auctions_df['in_seconds'] = np.where(auctions_df['date_dif'].isnull(), np.nan, auctions_df['in_seconds'])

In [651]:
auctions_df.head(10)

                        date            device_id ref_type_id source_id
0 2019-04-23 18:58:00.842116  2564673204772915246           1         0
1 2019-04-23 18:58:01.530771  4441121667607578179           7         0
2 2019-04-23 18:58:01.767562  7721769811471055264           1         0
3 2019-04-23 18:58:02.363468  6416039086842158968           1         0
4 2019-04-23 18:58:02.397559  1258642015983312729           1         0
5 2019-04-23 18:58:02.675804  6707090658317158573           1         0
6 2019-04-23 18:58:02.848212  8869722088125970841           1         0
7 2019-04-23 18:58:03.048872  7445213948764639634           1         0
8 2019-04-23 18:58:03.285788  2932617030932207332           1         0
9 2019-04-23 18:58:03.532112  6405811806780450397           7         0

In [75]:
#auctions_df.to_csv('data/auctions_seconds.csv')

In [15]:
#datos = pd.merge(auctions_df, installs_df, left_on='device_id', right_on='ref_hash', how='left')

In [652]:
installs_df.shape

(481511, 13)

In [653]:
auctions_df.shape

(47409528, 4)

In [655]:
auctions_1 = auctions_df.loc[auctions_df['date']<'2019-04-20 00:00:00']

In [656]:
# calculate time in seconds
auctions_1.drop_duplicates(inplace=True)
auctions_1 = auctions_1.sort_values(by=['device_id','date'])
auctions_1['date_dif'] = auctions_1['date'].shift(periods=-1) - auctions_1['date']
auctions_1['device_id_next'] = auctions_1['device_id'].astype('object').shift(periods=-1)
auctions_1['date_dif'] = np.where(auctions_1['device_id_next']==auctions_1['device_id'], auctions_1['date_dif'], datetime.datetime(2019,4,20)-auctions_1['date'])
auctions_1['in_seconds'] = auctions_1['date_dif'].dt.total_seconds()
auctions_1['status_censored'] = auctions_1['device_id_next']==auctions_1['device_id']
auctions_1.drop(['device_id_next','date_dif'], axis='columns', inplace=True)
auctions_1['device_id'] = auctions_1['device_id'].astype('object')
#calculate previus time in seconds
auctions_1['date_prev'] = auctions_1['date'].shift()
auctions_1['date_dif_prev'] = auctions_1['date']- auctions_1['date_prev']
auctions_1['device_id_prev'] = auctions_1['device_id'].astype('object').shift()
auctions_1['date_dif_prev'] = np.where(auctions_1['device_id_prev']==auctions_1['device_id'], auctions_1['date_dif_prev'], auctions_1['date']-datetime.datetime(2019,4,18))
auctions_1['last_seen'] = auctions_1['date_dif_prev'].dt.total_seconds()
auctions_1.drop(['device_id_prev','date_dif_prev','date_prev'], axis='columns', inplace=True)
auctions_1 = auctions_1.sort_values(by=['date'])

In [657]:
installs_1 = installs_df.loc[installs_df['created']<'2019-04-20 00:00:00']
installs_1.head(10)

,created,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_brand,user_agent,event_uuid,kind,wifi,trans_id
12,2019-04-18 04:00:27.575,1,1494519392962156891,1084778553542198153,NaN,False,True,NaN,NaN,5d2c31b2-7009-4388-a30c-b8a119b9695f,app_open,NaN,NaN
13,2019-04-18 08:33:46.588,1,1494519392962156891,6412465357609907698,NaN,False,True,NaN,NaN,c4b4577a-e846-4de7-9d40-643d5c66506e,app_open,NaN,NaN
14,2019-04-18 20:38:01.661,1,1494519392962156891,8455113036752892959,NaN,False,True,NaN,NaN,88b28e3e-31bb-4c11-a937-a79ba175cc05,app_open,NaN,NaN
15,2019-04-18 18:51:18.157,1,1494519392962156891,7939167172078327528,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN
22,2019-04-19 04:10:34.820,1,1494519392962156891,2251011940536423208,NaN,False,True,NaN,NaN,e9f099f4-47e3-41a6-99e1-e7e6ee154270,app_open,NaN,NaN
23,2019-04-19 04:32:10.018,1,1494519392962156891,8834511447557233212,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN
24,2019-04-19 04:31:44.316,1,1494519392962156891,4152412908070003677,NaN,False,True,NaN,NaN,5a53d8bc-edaf-49bd-948a-43cc2b18e40f,app_open,NaN,NaN
25,2019-04-19 04:45:47.500,1,1494519392962156891,5848436212677927803,NaN,False,True,NaN,NaN,54bae8d2-e693-4a0b-9c5f-55fe146ec148,app_open,NaN,NaN
26,2019-04-19 16:57:14.092,1,1494519392962156891,8697087329542169045,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN
27,2019-04-19 21:26:47.688,1,1494519392962156891,4137890430319706690,NaN,False,True,NaN,NaN,e6b00fd0-0f10-4b25-a6e4-5053ac135691,app_open,NaN,NaN

In [295]:
installs_df['ref_hash'].describe()

count                  481511
unique                 393565
top       5446085605337844584
freq                       14
Name: ref_hash, dtype: object

In [401]:
installs_1.columns

Index(['created', 'application_id', 'ref_type', 'ref_hash', 'click_hash',
       'attributed', 'implicit', 'device_brand', 'user_agent', 'event_uuid',
       'kind', 'wifi', 'trans_id'],
      dtype='object')

In [658]:
#data X and y
data_full_1 = pd.merge(auctions_1, installs_1, left_on='device_id', right_on='ref_hash', how='inner')
data_full_1 = data_full_1.loc[data_full_1['date']>=data_full_1['created']]
data_full_1['install_diff'] = data_full_1['date']-data_full_1['created']
data_full_1['install_seconds'] = data_full_1['install_diff'].dt.total_seconds()
data_full_1 = data_full_1.loc[data_full_1['in_seconds']>=data_full_1['install_seconds']]
data_x_1 = data_full_1.drop(columns=['in_seconds','status_censored','ref_hash'])
data_y_1 = np.fromiter(zip(data_full_1["status_censored"], data_full_1["in_seconds"]),
                                dtype=[('status_censored', np.bool), ('in_seconds', np.float64)])

In [659]:
class preprocess( BaseEstimator, TransformerMixin ): 
    #Return self nothing else to do here
    def fit( self, X, y = None  ):
        return self
    #Transformer method we wrote for this transformer 
    def transform(self, X , y = None ):
        X = X.copy()
        # boolean transformations
        X['event_uuid'] = np.where(X['event_uuid'].isnull(), 0,1)
        X['click_hash'] = np.where(X['click_hash'].isnull(), 0,1)
        X['Android'] = np.where(X['user_agent'].str.contains('Android', regex=False),1,0)
        X['iOS'] = np.where(X['user_agent'].str.contains('Darwin', regex=False) | X['user_agent'].str.contains('iOS', regex=False),1,0)
        X['trans_id'] = np.where(X['trans_id'].isnull(), 0,1)
        # date transformations
        X['created_weekday'] = X['created'].dt.weekday
        X['created_hour'] = X['created'].dt.hour
        X['created_minute'] = X['created'].dt.minute
        X['date_weekday'] = X['date'].dt.weekday
        X['date_hour'] = X['date'].dt.hour
        X['date_minute'] = X['date'].dt.minute
        X['date_second'] = X['date'].dt.second
        #remove unused columns
        X = X.drop(columns=['date','created', 'install_diff','device_brand','install_seconds','user_agent','device_id'])
        X = pd.get_dummies(X, dummy_na=True, prefix_sep='=')
        self.encoded_columns_ = X.columns
        #returns numpy array
        return X

In [400]:
# format features
#data_x_1['event_uuid'] = np.where(data_x_1['event_uuid'].isnull(), 0,1)
#data_x_1['click_hash'] = np.where(data_x_1['click_hash'].isnull(), 0,1)
#data_x_1['Android'] = np.where(data_x_1['user_agent'].str.contains('Android', regex=False),1,0)
#data_x_1['iOS'] = np.where(data_x_1['user_agent'].str.contains('Darwin', regex=False) | data_x_1['user_agent'].str.contains('iOS', regex=False),1,0)
#data_x_1['trans_id'] = np.where(data_x_1['trans_id'].isnull(), 0,1)
#data_x_1['created_weekday'] = data_x_1['created'].dt.weekday
#data_x_1['created_hour'] = data_x_1['created'].dt.hour
#data_x_1['created_minute'] = data_x_1['created'].dt.minute
#data_x_1['date_weekday'] = data_x_1['date'].dt.weekday
#data_x_1['date_hour'] = data_x_1['date'].dt.hour
#data_x_1['date_minute'] = data_x_1['date'].dt.minute
#data_x_1['date_second'] = data_x_1['date'].dt.second
#data_x_1.drop(columns=['date','created', 'install_diff','device_brand','install_seconds','user_agent'], inplace=True)
#data_x_1_numeric = pd.get_dummies(data_x_1, dummy_na=True, prefix_sep='=')

In [660]:
data_y_1 = np.fromiter(zip(data_full_1.head(100)["status_censored"], data_full_1.head(100)["in_seconds"]),
                                dtype=[('status_censored', np.bool), ('in_seconds', np.float64)])

In [408]:
estimator = CoxPHSurvivalAnalysis(alpha=0.1)
estimator.fit(data_x_1_numeric.head(100), data_y_1)
estimator.score(data_x_1_numeric.head(100), data_y_1)

0.8191370444891571

In [662]:
def fit_and_score_features(X, y, alpha=0.1):
    n_features = X.shape[1]
    scores = np.empty(n_features)
    m = CoxPHSurvivalAnalysis(alpha=alpha)
    for j in range(n_features):
        Xj = X[:, j:j+1]
        m.fit(Xj, y)
        scores[j] = m.score(Xj, y)
    return scores

In [ ]:
scores = fit_and_score_features(data_x_1_numeric.head(100).values, data_y_1)
pd.Series(scores, index=data_x_1_numeric.columns).sort_values(ascending=False)

1     9
21    8
4     8
14    8
0     6
6     6
18    6
17    6
16    6
5     6
12    5
8     4
7     4
3     3
2     3
22    2
13    2
15    2
20    2
23    2
9     1
19    1
Name: date, dtype: int64

In [663]:
def custom_cv_folds(X):
    myCViterator = []
    trainIndices = X.loc[X['date']<'2019-04-18 12:00:00'].index.values.astype(int)
    testIndices =  X.loc[('2019-04-18 12:00:00'<=X['date']) & (X['date']<'2019-04-19 00:00:00')].index.values.astype(int)
    myCViterator.append( (trainIndices, testIndices) )
    trainIndices = X.loc[('2019-04-18 12:00:00'<=X['date']) & (X['date']<'2019-04-19 00:00:00')].index.values.astype(int)
    testIndices =  X.loc[('2019-04-19 00:00:00'<=X['date']) & (X['date']<'2019-04-19 12:00:00')].index.values.astype(int)
    myCViterator.append( (trainIndices, testIndices) )
    trainIndices = X.loc[('2019-04-19 00:00:00'<=X['date']) & (X['date']<'2019-04-19 12:00:00')].index.values.astype(int)
    testIndices =  X.loc[('2019-04-19 12:00:00'<=X['date']) & (X['date']<'2019-04-20 00:00:00')].index.values.astype(int)
    myCViterator.append( (trainIndices, testIndices) )
    return myCViterator

In [664]:
pipe = Pipeline([('preprocess', preprocess()),
                 ('select', SelectKBest(fit_and_score_features, k=50)),
                 ('model', CoxPHSurvivalAnalysis(alpha=0.01))])

In [665]:
import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.filterwarnings("ignore", category=SettingWithCopyWarning)

In [695]:
data_x_11 = data_x_1.head(100).copy()
data_x_11.reset_index(inplace=True)
custom_cv = custom_cv_folds(data_x_11)
param_grid = {'select__k': np.arange(1, data_x_11.shape[1] + 1)}
gcv = GridSearchCV(pipe, param_grid, return_train_score=True, cv=custom_cv, iid=True) #, n_jobs=-1)
gcv.fit(data_x_11, data_y_1)

pd.DataFrame(gcv.cv_results_).sort_values(by='mean_test_score', ascending=False)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_select__k,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,mean_train_score,std_train_score
17,3.444344,0.545257,0.041440,0.007898,18,{'select__k': 18},0.728601,0.577904,0.604651,0.645040,0.069675,1,0.836538,0.883090,0.875354,0.864994,0.020368
18,3.317043,0.422457,0.037895,0.001451,19,{'select__k': 19},0.726514,0.575071,0.612403,0.644921,0.068765,2,0.836538,0.885177,0.875354,0.865690,0.021000
14,2.952630,0.439941,0.031623,0.001879,15,{'select__k': 15},0.741127,0.620397,0.449612,0.630387,0.111580,3,0.831731,0.853862,0.855524,0.847039,0.010846
15,2.966385,0.338318,0.033349,0.001286,16,{'select__k': 16},0.730689,0.580737,0.457364,0.613367,0.107291,4,0.831731,0.862213,0.872521,0.855488,0.017318
16,3.310719,0.414562,0.033396,0.002868,17,{'select__k': 17},0.732777,0.566572,0.457364,0.609013,0.110026,5,0.831731,0.887265,0.866856,0.861950,0.022936
12,2.892683,0.377848,0.032805,0.001675,13,{'select__k': 13},0.772443,0.524079,0.441860,0.605949,0.140797,6,0.807692,0.805846,0.852691,0.822076,0.021661
13,3.199416,0.585621,0.033671,0.002980,14,{'select__k': 14},0.745303,0.492918,0.465116,0.588815,0.129544,7,0.826923,0.778706,0.852691,0.819440,0.030664
11,2.807540,0.318907,0.031924,0.000535,12,{'select__k': 12},0.743215,0.410765,0.558140,0.579007,0.146329,8,0.812500,0.795407,0.858357,0.822088,0.026578
19,3.303842,0.393862,0.037158,0.000438,20,{'select__k': 20},0.730689,0.368272,0.612403,0.570699,0.160645,9,0.836538,0.941545,0.875354,0.884479,0.043352
2,3.058368,0.366888,0.036100,0.000774,3,{'select__k': 3},0.623173,0.352691,0.767442,0.556754,0.164885,10,0.737981,0.783925,0.784703,0.768869,0.021844
9,2.906344,0.373679,0.032391,0.000395,10,{'select__k': 10},0.695198,0.379603,0.550388,0.546352,0.138510,11,0.769231,0.810021,0.858357,0.812536,0.036429
8,2.835697,0.326420,0.033799,0.002761,9,{'select__k': 9},0.697286,0.379603,0.542636,0.545432,0.139417,12,0.769231,0.810021,0.858357,0.812536,0.036429
3,3.097040,0.333823,0.033824,0.002299,4,{'select__k': 4},0.552192,0.396601,0.751938,0.540588,0.133577,13,0.723558,0.795407,0.818697,0.779221,0.040492
7,2.833869,0.329475,0.031408,0.000660,8,{'select__k': 8},0.693111,0.365439,0.550388,0.540307,0.143896,14,0.769231,0.795407,0.858357,0.807665,0.037404
4,2.951583,0.324633,0.033251,0.001953,5,{'select__k': 5},0.559499,0.388102,0.736434,0.536895,0.131932,15,0.747596,0.793319,0.810198,0.783705,0.026446
10,2.884623,0.297666,0.041019,0.015848,11,{'select__k': 11},0.670146,0.379603,0.550388,0.536204,0.127731,16,0.778846,0.810021,0.858357,0.815741,0.032711
6,3.052792,0.302346,0.032281,0.002364,7,{'select__k': 7},0.684760,0.368272,0.534884,0.534432,0.138884,17,0.769231,0.791232,0.858357,0.806273,0.037908
5,3.132470,0.279488,0.042275,0.008428,6,{'select__k': 6},0.638831,0.371105,0.542636,0.518634,0.118207,18,0.764423,0.795407,0.864023,0.807951,0.041618
1,3.190874,0.299491,0.034245,0.000177,2,{'select__k': 2},0.610647,0.344193,0.441860,0.474377,0.118255,19,0.718750,0.778706,0.753541,0.750332,0.024582
0,2.845451,0.289927,0.030357,0.000184,1,{'select__k': 1},0.542797,0.342776,0.500000,0.459621,0.090474,20,0.673077,0.700418,0.705382,0.692959,0.014204

,index,date,device_id,ref_type_id,source_id,last_seen,created,application_id,ref_type,click_hash,attributed,implicit,device_brand,user_agent,event_uuid,kind,wifi,trans_id,install_diff,install_seconds
0,218,2019-04-19 21:35:30.813413,5372400508976774833,7,0,8.026659,2019-04-19 21:07:19.165,339,1494519392962156891,NaN,False,False,NaN,TikTok/109005 CFNetwork/978.0.7 Darwin/18.5.0,NaN,NaN,false,NaN,00:28:11.648413,1691.648413
1,598,2019-04-18 12:59:43.010829,2227766999717522159,1,0,41.261367,2019-04-18 12:53:51.436,121,1891515180541284343,NaN,False,True,6.115025880051902e+18,Dalvik/2.1.0 (Linux; U; Android 7.0; HUAWEI VN...,4c59cd3c-a17e-4357-8003-318c3fd9df1a,open,true,NaN,00:05:51.574829,351.574829
2,599,2019-04-18 12:59:43.010829,2227766999717522159,1,0,41.261367,2019-04-18 12:53:53.593,121,1891515180541284343,NaN,False,False,6.115025880051902e+18,Dalvik/2.1.0 (Linux; U; Android 7.0; HUAWEI VN...,NaN,NaN,true,NaN,00:05:49.417829,349.417829
3,1137,2019-04-19 17:26:29.664836,8362777024167972305,1,3,3.234293,2019-04-19 17:13:28.908,36,1891515180541284343,NaN,False,False,1.1367705089334932e+18,Dalvik/2.1.0 (Linux; U; Android 8.1.0; FROZEN ...,NaN,NaN,true,NaN,00:13:00.756836,780.756836
4,1138,2019-04-19 17:46:09.577152,8362777024167972305,1,3,1179.912316,2019-04-19 17:13:28.908,36,1891515180541284343,NaN,False,False,1.1367705089334932e+18,Dalvik/2.1.0 (Linux; U; Android 8.1.0; FROZEN ...,NaN,NaN,true,NaN,00:32:40.669152,1960.669152
5,1168,2019-04-18 03:48:02.977207,521116236442257594,7,1,14.395733,2019-04-18 01:37:39.068,68,1494519392962156891,NaN,False,True,NaN,Grability/17420 CFNetwork/978.0.7 Darwin/18.5.0,1699c5a2-547c-41e9-8153-596084e9758b,open,false,NaN,02:10:23.909207,7823.909207
6,1181,2019-04-18 18:44:46.380013,521116236442257594,7,1,0.835005,2019-04-18 01:37:39.068,68,1494519392962156891,NaN,False,True,NaN,Grability/17420 CFNetwork/978.0.7 Darwin/18.5.0,1699c5a2-547c-41e9-8153-596084e9758b,open,false,NaN,17:07:07.312013,61627.312013
7,1186,2019-04-18 00:21:43.696288,3976437970206438205,1,3,1302.855185,2019-04-18 00:05:50.074,21,1891515180541284343,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,00:15:53.622288,953.622288
8,1549,2019-04-19 17:52:52.892606,4220751993672827036,1,3,0.064043,2019-04-19 17:51:37.436,210,1891515180541284343,NaN,False,False,NaN,Dalvik/2.1.0 (Linux; U; Android 7.0; SM-G920V ...,NaN,NaN,NaN,NaN,00:01:15.456606,75.456606
9,1550,2019-04-19 17:55:14.187190,4220751993672827036,1,3,141.294584,2019-04-19 17:51:37.436,210,1891515180541284343,NaN,False,False,NaN,Dalvik/2.1.0 (Linux; U; Android 7.0; SM-G920V ...,NaN,NaN,NaN,NaN,00:03:36.751190,216.751190
10,1620,2019-04-19 01:54:19.027415,7310601998126152053,1,1,26.770843,2019-04-19 01:15:05.665,210,1891515180541284343,NaN,False,False,NaN,Dalvik/2.1.0 (Linux; U; Android 8.0.0; FLA-LX3...,NaN,NaN,NaN,NaN,00:39:13.362415,2353.362415
11,2914,2019-04-18 04:44:13.542604,1306102321359620705,1,1,20.986063,2019-04-18 04:26:53.647,122,1891515180541284343,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,00:17:19.895604,1039.895604
12,3894,2019-04-18 08:22:28.129255,1306102321359620705,1,1,326.790388,2019-04-18 04:26:53.647,122,1891515180541284343,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,03:55:34.482255,14134.482255
13,3895,2019-04-18 08:22:28.129255,1306102321359620705,1,1,326.790388,2019-04-18 06:37:26.794,94,1891515180541284343,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,01:45:01.335255,6301.335255
14,7136,2019-04-19 20:14:25.558749,7806359857005838767,7,1,33.003663,2019-04-19 19:18:52.942,194,1494519392962156891,NaN,False,False,NaN,Gardenscapes/3.3.2 CFNetwork/976 Darwin/18.2.0,NaN,NaN,true,NaN,00:55:32.616749,3332.616749
15,7349,2019-04-19 16:22:23.864494,3846517431555291829,1,3,1.738585,2019-04-19 16:20:43.460,14,1891515180541284343,NaN,False,False,2.208834667126999e+18,NaN,NaN,NaN,NaN,NaN,00:01:40.404494,100.404494
16,7351,2019-04-19 16:45:46.146395,3846517431555291829,1,1,0.393053,2019-04-19 16:20:43.460,14,1891515180541284343,NaN,False,False,2.208834667126999e+18,NaN,NaN,NaN,NaN,NaN,00:25:02.686395,1502.686395
17,7934,2019-04-19 22:50:00.861927,8285678720323566316,1,0,85.856255,2019-04-19 22:12:51.930,65,1891515180541284343,NaN,False,False,2.208834667126999e+18,Dalvik/2.1.0 (Linux; U; Android 7.0; Moto C Bu...,NaN,NaN,true,NaN,00:37:08.931927,2228.931927
18,8165,2019-04-19 06:59:28.285763,3814346826519918652,1,1,584.773996,2019-04-19 06:52:29.411,121,1891515180541284343,NaN,False,True,2.5232459822329236e+18,Dalvik/2.1.0 (Linux; U; Android 8.1.0; LM-X420...,27204bb8-d910-4465-89b8-289de764bd46,open,true,NaN,00:06:58.874763,418.874763
19,8171,2019-04-19 08:03:26.965882,3814346826519918652,1,1,0.183616,2019-04-19 06:52:29.411,121,1891515180541284343,NaN,False,True,2.5232459822329236e+18,Dalvik/2.1.0 (Linux; U; Android 8.1.0; LM-X420...,27204bb8-d910-4465-89b8-289de764bd46,open,true,NaN,01:10:57.554882,4257.554882
20,8661,2019-04-19 14:35:51.357631,5786956404756821291,1,1,29.672684,2019-04-19 14:35:46.073,214,1891515180541284343,NaN,False,False,6.115025880051902e+18,Dalvik/2.1.0 (Linux; U; Android 5.0.1; ALE-L23...,NaN,NaN,true,NaN,00:00:05.284631,5.284631
21,8663,2019-04-19 14:36:14.931512,5786956404756821291,1,1,9.813728,2019-04-19 14:35:46.073,214,1891515180541284343,NaN,False,False,6.115025880051902e+18,Dalvik/2.1.0 (Linux; U; Android 5.0.1; ALE-L23...,NaN,NaN,true,NaN,00:00:28.858512,28.858512
22,9028,2019-04-19 04:36:01.021201,166573503683939854,1,1,87.615636,2019-04-19 04:31:41.541,122,1891515180541284343,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,00:04:19.480201,259.480201
23,9031,2019-04-19 04:55:38.318991,166573503683939854,1,1,105.174636,2019-04-19 04:31:41.541,122,1891515180541284343,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,00:23:56.777991,1436.777991
24,9037,2019-04-19 05:35:18.384913,166573503683939854,1,1,134.343388,2019-04-19 04:31:41.541,122,1891515180541284343,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,01:03:36.843913,3816.843913
25,9265,2019-04-18 22:34:30.131967,6707489870424013050,1,3,0.449971,2019-04-18 21:31:27.883,155,1891515180541284343,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,01:03:02.248967,3782.248967
26,9608,2019-04-18 21:37:08.872815,131304694104929654,1,3,569.364047,2019-04-18 21:36:59.854,210,1891515180541284343,NaN,False,False,NaN,Dalvik/2.1.0 (Linux; U; Android 8.0.0; FIG-LX3...,NaN,NaN,NaN,NaN,00:00:09.018815,9.018815
27,9969,2019-04-18 13:41:52.135702,3540765949063529574,7,1,1234.776666,2019-04-18 03:25:57.388,194,1494519392962156891,NaN,False,False,NaN,Gardenscapes/3.3.0 CFNetwork/976 Darwin/18.2.0,NaN,NaN,true,NaN,10:15:54.747702,36954.747702
28,10441,2019-04-19 04:19:52.445896,4924400522142452645,1,1,10.561136,2019-04-19 04:16:54.046,122,1891515180541284343,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,00:02:58.399896,178.399896
29,11693,2019-04-18 18:17:02.516089,4529986346798198448,1,0,75.933813,2019-04-18 17:35:02.788,36,1891515180541284343,NaN,False,False,3.083058605577787e+17,Dalvik/1.6.0 (Linux; U; Android 4.4.4; SM-T560...,NaN,NaN,true,NaN,00:41:59.728089,2519.728089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,29080,2019-04-18 16:19:45.123732,2453885245949562348,1,1,91.474168,2019-04-18 14:55:47.633,302,1891515180541284343,NaN,False,False,3.083058605577787e+17,Dalvik/2.1.0 (Linux; U; Android 5.1.1; SM-T330...,NaN,NaN,true,NaN,01:23:57.490732,5037.490732
71,29111,2019-04-19 04:59:28.374563,2453885245949562348,1,1,9.907354,2019-04-18 14:52:47.355,36,1891515180541284343,NaN,False,False,3.083058605577787e+17,Dalvik/2.1.0 (Linux; U; Android 5.1.1; SM-T330...,NaN,NaN,true,NaN,14:06:41.019563,50801.019563
72,29112,2019-04-19 04:59:28.374563,2453885245949562348,1,1,9.907354,2019-04-18 14:55:51.901,302,1891515180541284343,NaN,False,True,3.083058605577787e+17,Dalvik/2.1.0 (Linux; U; Android 5.1.1; SM-T330...,7aa20cf3-fc17-492b-8b59-800bba3e4df9,af_app_opened,true,NaN,14:03:36.473563,50616.473563
73,29113,2019-04-19 04:59:28.374563,2453885245949562348,1,1,9.907354,2019-04-18 14:55:47.633,302,1891515180541284343,NaN,False,False,3.083058605577787e+17,Dalvik/2.1.0 (Linux; U; Android 5.1.1; SM-T330...,NaN,NaN,true,NaN,14:03:40.741563,50620.741563
74,29153,2019-04-18 06:27:24.168385,6506422967200784122,1,6,21178.125210,2019-04-18 01:11:13.091,121,1891515180541284343,NaN,False,True,2.208834667126999e+18,Dalvik/2.1.0 (Linux; U; Android 8.0.0; moto e5...,e7ebcbee-c9bc-4ad0-96bc-c30bec463d22,open,true,NaN,05:16:11.077385,18971.077385
75,29154,2019-04-18 06:27:24.168385,6506422967200784122,1,6,21178.125210,2019-04-18 01:11:13.460,121,1891515180541284343,NaN,False,False,2.208834667126999e+18,Dalvik/2.1.0 (Linux; U; Android 8.0.0; moto e5...,NaN,NaN,true,NaN,05:16:10.708385,18970.708385
76,29337,2019-04-18 21:26:14.204617,1000503394293263005,7,0,44.669329,2019-04-18 21:12:00.657,147,1494519392962156891,NaN,False,False,NaN,CATS/188267 CFNetwork/978.0.7 Darwin/18.5.0,NaN,NaN,true,NaN,00:14:13.547617,853.547617
77,29338,2019-04-18 21:26:14.204617,1000503394293263005,7,0,44.669329,2019-04-18 21:11:52.497,147,1494519392962156891,NaN,False,True,NaN,CATS/188267 CFNetwork/978.0.7 Darwin/18.5.0,6440ad11-fb50-482d-87bf-00d078ab823a,af_app_opened,true,NaN,00:14:21.707617,861.707617
78,29391,2019-04-18 21:53:47.646766,1000503394293263005,7,0,3.414054,2019-04-18 21:12:00.657,147,1494519392962156891,NaN,False,False,NaN,CATS/188267 CFNetwork/978.0.7 Darwin/18.5.0,NaN,NaN,true,NaN,00:41:46.989766,2506.989766
79,29392,2019-04-18 21:53:47.646766,1000503394293263005,7,0,3.414054,2019-04-18 21:11:52.497,147,1494519392962156891,NaN,False,True,NaN,CATS/188267 CFNetwork/978.0.7 Darwin/18.5.0,6440ad11-fb50-482d-87bf-00d078ab823a,af_app_opened,true,NaN,00:41:55.149766,2515.149766
80,29393,2019-04-19 01:43:42.051751,1000503394293263005,7,0,13794.404985,2019-04-18 21:12:00.657,147,1494519392962156891,NaN,False,False,NaN,CATS/188267 CFNetwork/978.0.7 Darwin/18.5.0,NaN,NaN,true,NaN,04:31:41.394751,16301.394751
81,29394,2019-04-19 01:43:42.051751,1000503394293263005,7,0,13794.404985,2019-04-18 21:11:52.497,147,1494519392962156891,NaN,False,True,NaN,CATS/188267 CFNetwork/978.0.7 Darwin/18.5.0,6440ad11-fb50-482d-87bf-00d078ab823a,af_app_opened,true,NaN,04:31:49.554751,16309.554751
82,30853,2019-04-19 18:44:26.120058,3116364158302052866,7,1,59.773599,2019-04-19 13:44:46.231,54,1494519392962156891,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,04:59:39.889058,17979.889058
83,31104,2019-04-19 06:48:44.687768,218086459821136479,1,0,1.728447,2019-04-18 23:27:24.179,36,1891515180541284343,NaN,False,False,2.208834667126999e+18,Dalvik/2.1.0 (Linux; U; Android 7.0; Moto C Bu...,NaN,NaN,true,NaN,07:21:20.508768,26480.508768
84,31171,2019-04-18 12:06:17.511232,1298548519943517520,1,0,6.079599,2019-04-18 12:05:30.133,77,1891515180541284343,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,00:00:47.378232,47.378232
85,31172,2019-04-18 12:07:11.635502,1298548519943517520,1,0,54.124270,2019-04-18 12:05:30.133,77,1891515180541284343,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,00:01:41.502502,101.502502
86,31174,2019-04-18 12:41:19.777817,1298548519943517520,1,0,3.478559,2019-04-18 12:05:30.133,77,1891515180541284343,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,00:35:49.644817,2149.644817
87,31778,2019-04-18 07:14:14.702493,5803909030818151386,1,1,40.902613,2019-04-18 05:01:42.944,155,1891515180541284343,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,02:12:31.758493,7951.758493
88,31779,2019-04-18 21:43:57.035698,5803909030818151386,1,1,52182.333205,2019-04-18 05:01:42.944,155,1891515180541284343,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,16:42:14.091698,60134.091698
89,32298,2019-04-18 14:15:47.246070,524512147973319938,1,6,51334.261419,2019-04-18 06:42:39.338,226,1891515180541284343,NaN,False,True,2.208834667126999e+18,Dalvik/2.1.0 (Linux; U; Android 8.1.0; moto e5...,76bce98d-8992-493e-ae14-2d0cb8ed4f51,account_summary_first_step,false,NaN,07:33:07.908070,27187.908070
90,32299,2019-04-18 14:15:47.246070,524512147973319938,1,6,51334.261419,2019-04-18 06:42:40.276,226,1891515180541284343,NaN,False,False,2.208834667126999e+18,Dalvik/2.1.0 (Linux; U; Android 8.1.0; moto e5...,NaN,NaN,false,NaN,07:33:06.970070,27186.970070
91,32362,2019-04-18 20:30:13.584144,915806343036859917,1,0,199.432177,2019-04-18 16:24:23.352,36,1891515180541284343,NaN,False,False,3.083058605577787e+17,Dalvik/2.1.0 (Linux; U; Android 8.0.0; SM-G570...,NaN,NaN,true,NaN,04:05:50.232144,14750.232144
92,32371,2019-04-19 01:44:36.845607,915806343036859917,1,0,198.757419,2019-04-18 16:24:23.352,36,1891515180541284343,NaN,False,False,3.083058605577787e+17,Dalvik/2.1.0 (Linux; U; Android 8.0.0; SM-G570...,NaN,NaN,true,NaN,09:20:13.493607,33613.493607
93,32496,2019-04-18 18:12:11.908985,5766620899750366955,1,7,64970.059128,2019-04-18 01:32:21.685,121,1891515180541284343,NaN,False,True,8.461029610521711e+18,Dalvik/2.1.0 (Linux; U; Android 8.0.0; G3223 B...,24051136-be5c-401e-bd49-f6259c58f404,open,true,NaN,16:39:50.223985,59990.223985
94,32497,2019-04-18 18:12:11.908985,5766620899750366955,1,7,64970.059128,2019-04-18 01:32:23.496,121,1891515180541284343,NaN,False,False,8.461029610521711e+18,Dalvik/2.1.0 (Linux; U; Android 8.0.0; G3223 B...,NaN,NaN,true,NaN,16:39:48.412985,59988.412985
95,32750,2019-04-18 04:00:39.449739,1198735067767152266,1,3,0.118409,2019-04-18 03:36:00.853,210,1891515180541284343,NaN,False,False,NaN,Dalvik/2.1.0 (Linux; U; Android 7.0; SM-A510M ...,NaN,NaN,NaN,NaN,00:24:38.596739,1478.596739
96,32820,2019-04-18 05:22:01.295657,1198735067767152266,1,1,18.081930,2019-04-18 03:36:00.853,210,1891515180541284343,NaN,False,False,NaN,Dalvik/2.1.0 (Linux; U; Android 7.0; SM-A510M ...,NaN,NaN,NaN,NaN,01:46:00.442657,6360.442657
97,33507,2019-04-19 05:00:29.274546,9168928285678193221,1,8,2563.445235,2019-04-18 16:43:10.804,121,1891515180541284343,NaN,False,False,3.083058605577787e+17,Dalvik/2.1.0 (Linux; U; Android 8.0.0; SM-A605...,NaN,NaN,false,NaN,12:17:18.470546,44238.470546
98,33616,2019-04-19 15:26:42.176057,7449995546999389161,1,2,484.983373,2019-04-19 15:25:53.384,210,1891515180541284343,NaN,False,True,NaN,Dalvik/2.1.0 (Linux; U; Android 8.0.0; SM-G955...,568c2f14-76c8-4b26-8f78-2ecd82b22122,app open,NaN,NaN,00:00:48.792057,48.792057
99,33618,2019-04-19 15:27:39.889403,7449995546999389161,1,3,57.713346,2019-04-19 15:25:53.384,210,1891515180541284343,NaN,False,True,NaN,Dalvik/2.1.0 (Linux; U; Android 8.0.0; SM-G955...,568c2f14-76c8-4b26-8f78-2ecd82b22122,app open,NaN,NaN,00:01:46.505403,106.505403

In [563]:
gcv.best_params_

{'model__alpha': 1.0, 'select__k': 15}

In [564]:
data_x_11 = data_x_1.head(100).copy()
pipe.set_params(**gcv.best_params_)
pipe.fit(data_x_11, data_y_1)

encoder, transformer, final_estimator = [s[1] for s in pipe.steps]
pd.Series(final_estimator.coef_, index=encoder.encoded_columns_[transformer.get_support()])

last_seen                      -0.000039
created_weekday                 0.760496
date_hour                       0.016006
date_second                     0.021819
ref_type_id=1                   0.117072
ref_type_id=7                  -0.117072
source_id=1                    -0.890550
source_id=3                     0.539926
source_id=7                    -1.156081
application_id=121             -0.333614
application_id=210             -0.006043
ref_type=1494519392962156891   -0.117072
ref_type=1891515180541284343    0.117072
kind=open                      -0.107620
wifi=nan                        0.273920
dtype: float64

In [565]:
data_x_11 = data_x_1.head(100).copy()
pipe.score(data_x_11, data_y_1)

0.7289740698985344

In [490]:
data_x_11.columns

Index(['date', 'ref_type_id', 'source_id', 'created', 'application_id',
       'ref_type', 'click_hash', 'attributed', 'implicit', 'device_brand',
       'user_agent', 'event_uuid', 'kind', 'wifi', 'trans_id', 'install_diff',
       'install_seconds'],
      dtype='object')

In [485]:
data_y_1.shape

(100,)

In [333]:
data_x_1_numeric.shape

(31377, 1601)

In [336]:
data_y_1.shape

(31377,)

In [ ]:
test1 = auctions_1[['device_id','date']]

In [89]:
test1 = test1.sort_values(by=['device_id','date'])

In [90]:
test1 = test1.head(1000)

In [91]:
test1.shape

(1000, 2)

In [92]:
test1['date_dif'] = test1['date'].shift(periods=-1) - test1['date']

In [97]:
test1['device_id_next'] = test1['device_id'].astype('object').shift(periods=-1)

In [99]:
test1['date_dif'] = np.where(test1['device_id_next']==test1['device_id'], test1['date_dif'], datetime.datetime(2019,4,20)-test1['date'])

In [101]:
test1['in_seconds'] = test1['date_dif'].dt.total_seconds()

In [103]:
test1['status-censored'] = test1['device_id_next']==test1['device_id']

In [104]:
test1.head(50)

,device_id,date,date_dif,in_seconds,device_id_next,status-censored
30900602,41863526108385,2019-04-19 19:40:28.465866,0 days 04:19:31.534134,15571.534134,161514654074162,False
46872336,161514654074162,2019-04-18 02:52:46.357746,0 days 00:00:28.744020,28.744020,161514654074162,True
7330779,161514654074162,2019-04-18 02:53:15.101766,0 days 00:00:25.982516,25.982516,161514654074162,True
16177030,161514654074162,2019-04-18 02:53:41.084282,0 days 00:00:18.239779,18.239779,161514654074162,True
19683863,161514654074162,2019-04-18 02:53:59.324061,0 days 00:00:02.851261,2.851261,161514654074162,True
22213367,161514654074162,2019-04-18 02:54:02.175322,0 days 00:00:47.365665,47.365665,161514654074162,True
20455826,161514654074162,2019-04-18 02:54:49.540987,1 days 21:05:10.459013,162310.459013,186034136943920,False
16127540,186034136943920,2019-04-18 16:42:46.331894,0 days 02:40:55.874138,9655.874138,186034136943920,True
4859451,186034136943920,2019-04-18 19:23:42.206032,1 days 04:36:17.793968,102977.793968,283297668933729,False
293739,283297668933729,2019-04-18 22:24:44.520583,1 days 01:35:15.479417,92115.479417,345999128501141,False
24453051,345999128501141,2019-04-18 15:04:50.380240,0 days 00:01:25.272524,85.272524,345999128501141,True
15890486,345999128501141,2019-04-18 15:06:15.652764,0 days 00:00:05.714541,5.714541,345999128501141,True
10001454,345999128501141,2019-04-18 15:06:21.367305,0 days 00:00:02.480504,2.480504,345999128501141,True
15890505,345999128501141,2019-04-18 15:06:23.847809,0 days 00:00:29.289909,29.289909,345999128501141,True
15890570,345999128501141,2019-04-18 15:06:53.137718,0 days 00:00:40.482468,40.482468,345999128501141,True
3893749,345999128501141,2019-04-18 15:07:33.620186,0 days 00:00:11.774292,11.774292,345999128501141,True
10019667,345999128501141,2019-04-18 15:07:45.394478,0 days 00:00:30.303426,30.303426,345999128501141,True
8910138,345999128501141,2019-04-18 15:08:15.697904,0 days 00:00:32.428954,32.428954,345999128501141,True
15893702,345999128501141,2019-04-18 15:08:48.126858,0 days 00:00:16.536666,16.536666,345999128501141,True
31162814,345999128501141,2019-04-18 15:09:04.663524,0 days 00:00:50.679469,50.679469,345999128501141,True
8910329,345999128501141,2019-04-18 15:09:55.342993,0 days 00:00:40.264448,40.264448,345999128501141,True
28237447,345999128501141,2019-04-18 15:10:35.607441,0 days 00:00:13.797988,13.797988,345999128501141,True
15893889,345999128501141,2019-04-18 15:10:49.405429,0 days 00:00:36.954445,36.954445,345999128501141,True
15893950,345999128501141,2019-04-18 15:11:26.359874,0 days 00:00:54.438573,54.438573,345999128501141,True
16591232,345999128501141,2019-04-18 15:12:20.798447,0 days 00:00:36.662091,36.662091,345999128501141,True
25977845,345999128501141,2019-04-18 15:12:57.460538,0 days 00:01:25.075778,85.075778,345999128501141,True
47018267,345999128501141,2019-04-18 15:14:22.536316,0 days 00:00:46.740026,46.740026,345999128501141,True
3895872,345999128501141,2019-04-18 15:15:09.276342,0 days 00:00:14.068542,14.068542,345999128501141,True
11688996,345999128501141,2019-04-18 15:15:23.344884,0 days 00:00:46.506804,46.506804,345999128501141,True
8879220,345999128501141,2019-04-18 15:16:09.851688,0 days 00:00:44.465521,44.465521,345999128501141,True
8941572,345999128501141,2019-04-18 15:16:54.317209,0 days 00:00:16.464873,16.464873,345999128501141,True
8925590,345999128501141,2019-04-18 15:17:10.782082,0 days 00:02:22.037849,142.037849,345999128501141,True
15883842,345999128501141,2019-04-18 15:19:32.819931,0 days 00:00:23.567086,23.567086,345999128501141,True
11665912,345999128501141,2019-04-18 15:19:56.387017,0 days 00:00:06.682429,6.682429,345999128501141,True
8941947,345999128501141,2019-04-18 15:20:03.069446,0 days 00:01:10.624207,70.624207,345999128501141,True
41228906,345999128501141,2019-04-18 15:21:13.693653,0 days 00:00:50.986369,50.986369,345999128501141,True
11666160,345999128501141,2019-04-18 15:22:04.680022,0 days 00:00:09.578309,9.578309,345999128501141,True
41254749,345999128501141,2019-04-18 15:22:14.258331,0 days 00:01:00.507670,60.507670,345999128501141,True
4913262,345999128501141,2019-04-18 15:23:14.766001,0 days 00:00:20.728919,20.728919,345999128501141,True
31220673,345999128501141,2019-04-18 15:23:35.494920,0 days 00:00:30.291266,30.291266,345999128501141,True
28249795,345999128501141,2019-04-18 15:24:05.786186,0 days 00:00:53.894118,53.894118,345999128501141,True
31220844,345999128501141,2019-04-18 15:24:59.680304,0 days 00:00:30.606725,30.606725,345999128501141,True
16691872,345999128501141,2019-04-18 15:25:30.287029,0 days 00:00:06.520139,6.520139,345999128501141,True
4913540,345999128501141,2019-04-18 15:25:36.807168,0 days 00:00:10.215704,10.215704,345999128501141,True
11685935,345999128501141,2019-04-18 15:25:47.022872,0 days 00:02:15.526228,135.526228,345999128501141,True
19616957,345999128501141,2019-04-18 15:28:02.549100,0 days 00:00:16.155947,16.155947,345999128501141,True
11686251,345999128501141,2019-04-18 15:28:18.705047,0 days 00:00:44.478701,44.478701,345999128501141,True
24454480,345999128501141,2019-04-18 15:29:03.183748,0 days 00:00:06.262486,6.262486,345999128501141,True
28218915,345999128501141,2019-04-18 15:29:09.446234,0 days 00:00:30.387264,30.387264,345999128501141,True
8937580,345999128501141,2019-04-18 15:29:39.833498,0 days 00:00:30.375433,30.375433,345999128501141,True

In [61]:
test1['date_dif'] = test1['date'].shift(periods=-1) - test1['date']

In [69]:
test1.head(50)

,date,device_id,date_dif,in_seconds
36601349,2019-04-23 15:00:57.222979,4.062141e+13,NaT,NaN
30900602,2019-04-19 19:40:28.465866,4.186353e+13,07:11:58.427014,25918.427014
14875535,2019-04-20 02:52:26.892880,4.186353e+13,00:06:35.616350,395.616350
32062481,2019-04-20 02:59:02.509230,4.186353e+13,00:06:59.166558,419.166558
45613542,2019-04-20 03:06:01.675788,4.186353e+13,00:02:55.712372,175.712372
42215232,2019-04-20 03:08:57.388160,4.186353e+13,00:02:29.075743,149.075743
22374394,2019-04-20 03:11:26.463903,4.186353e+13,00:00:14.547768,14.547768
12690007,2019-04-20 03:11:41.011671,4.186353e+13,00:00:45.669391,45.669391
42215538,2019-04-20 03:12:26.681062,4.186353e+13,00:00:30.801420,30.801420
12690107,2019-04-20 03:12:57.482482,4.186353e+13,00:01:58.661626,118.661626
40811049,2019-04-20 03:14:56.144108,4.186353e+13,00:00:29.435490,29.435490
12654048,2019-04-20 03:15:25.579598,4.186353e+13,00:02:09.727139,129.727139
21547286,2019-04-20 03:17:35.306737,4.186353e+13,00:00:01.671921,1.671921
32086649,2019-04-20 03:17:36.978658,4.186353e+13,00:00:12.300298,12.300298
32035934,2019-04-20 03:17:49.278956,4.186353e+13,00:02:33.782511,153.782511
22364882,2019-04-20 03:20:23.061467,4.186353e+13,00:06:49.615022,409.615022
21541289,2019-04-20 03:27:12.676489,4.186353e+13,00:00:30.367393,30.367393
45605567,2019-04-20 03:27:43.043882,4.186353e+13,00:00:29.580274,29.580274
43478809,2019-04-20 03:28:12.624156,4.186353e+13,00:44:56.439728,2696.439728
41468705,2019-04-20 04:13:09.063884,4.186353e+13,00:00:04.116297,4.116297
25758539,2019-04-20 04:13:13.180181,4.186353e+13,00:01:37.971913,97.971913
21605090,2019-04-20 04:14:51.152094,4.186353e+13,00:02:01.546713,121.546713
41486188,2019-04-20 04:16:52.698807,4.186353e+13,00:00:42.269995,42.269995
41470261,2019-04-20 04:17:34.968802,4.186353e+13,00:00:45.582899,45.582899
12309522,2019-04-20 04:18:20.551701,4.186353e+13,00:03:28.103165,208.103165
41488027,2019-04-20 04:21:48.654866,4.186353e+13,00:00:32.426534,32.426534
22360800,2019-04-20 04:22:21.081400,4.186353e+13,00:00:00.047888,0.047888
12309932,2019-04-20 04:22:21.129288,4.186353e+13,00:00:00.015864,0.015864
41545240,2019-04-20 04:22:21.145152,4.186353e+13,00:00:30.028233,30.028233
12676157,2019-04-20 04:22:51.173385,4.186353e+13,00:00:45.855710,45.855710
41488256,2019-04-20 04:23:37.029095,4.186353e+13,00:00:25.979346,25.979346
32117587,2019-04-20 04:24:03.008441,4.186353e+13,00:01:18.207987,78.207987
25769300,2019-04-20 04:25:21.216428,4.186353e+13,00:01:15.115436,75.115436
25769438,2019-04-20 04:26:36.331864,4.186353e+13,00:03:17.966634,197.966634
45482985,2019-04-20 04:29:54.298498,4.186353e+13,00:00:25.622252,25.622252
21537451,2019-04-20 04:30:19.920750,4.186353e+13,NaT,NaN
39675750,2019-04-25 11:04:18.597103,6.903969e+13,00:01:59.582548,119.582548
11071181,2019-04-25 11:06:18.179651,6.903969e+13,00:01:44.323097,104.323097
11071200,2019-04-25 11:08:02.502748,6.903969e+13,00:03:42.289384,222.289384
8419586,2019-04-25 11:11:44.792132,6.903969e+13,NaT,NaN
39028251,2019-04-20 04:10:54.009137,1.351530e+14,00:08:00.352713,480.352713
22406287,2019-04-20 04:18:54.361850,1.351530e+14,00:00:27.220255,27.220255
43465401,2019-04-20 04:19:21.582105,1.351530e+14,00:00:01.312519,1.312519
12660833,2019-04-20 04:19:22.894624,1.351530e+14,00:01:20.049594,80.049594
39026803,2019-04-20 04:20:42.944218,1.351530e+14,00:01:06.943522,66.943522
14842818,2019-04-20 04:21:49.887740,1.351530e+14,00:00:31.172720,31.172720
30436935,2019-04-20 04:22:21.060460,1.351530e+14,00:01:51.708623,111.708623
12273357,2019-04-20 04:24:12.769083,1.351530e+14,NaT,NaN
46872336,2019-04-18 02:52:46.357746,1.615147e+14,00:00:28.744020,28.744020
7330779,2019-04-18 02:53:15.101766,1.615147e+14,00:00:25.982516,25.982516